@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.block-list {
  position: relative;
  padding-left: 1.5rem;
}
.block-list::before {
  content: "•";
  position: absolute;
  left: 0.5rem;
}
